<div id="<%= dom_id result %>">
  <p>
    <strong>Match:</strong>
    <%= result.match_id %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= result.winner_id %>
  </p>

  <p>
    <strong>Loser:</strong>
    <%= result.loser_id %>
  </p>

  <p>
    <strong>Draw:</strong>
    <%= result.draw %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= result.score %>
  </p>

</div>
