<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    
    <% if notice.present? %>
      <div class="alert alert-success text-center mb-4">
        <%= notice %>
      </div>
    <% end %>

    <div class="text-center mb-4">
      <%= render @player %>
    </div>

    <div class="row">
      <div class="col text-center">
        <div class="d-inline-flex flex-wrap justify-content-center gap-3 mt-3">

        <%= link_to players_path, class: "btn btn-outline-secondary back-btn" do %>
          <i class="bi bi-arrow-left me-2"></i>
          Back to players
        <% end %>

          <%= link_to edit_player_path(@player), class: "btn btn-outline-primary back-btn" do %>
            <i class="bi bi-pencil me-2"></i>
            Edit this player
          <% end %>

         
          <%= button_to "Destroy this player", @player,
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-outline-danger back-btn" %>
        </div>
      </div>
    </div>
    
  </div>
</section>
