<%= form_with(model: match) do |f| %>
  <div class="mb-3">
    <%= f.label :team_a_id, "Équipe A" %>
    <%= f.collection_select :team_a_id, Team.all, :id, :name,
          prompt: "Choisir l'équipe A", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :team_b_id, "Équipe B" %>
    <%= f.collection_select :team_b_id, Team.all, :id, :name,
          prompt: "Choisir l'équipe B", class: "form-select" %>
  </div>

  <%= f.datetime_select :played_at, class: "form-control" %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
